openapi: 3.0.0

info:
  version: "1.0"
  title: "LBAW Event Pointer Web API"
  description: "Web Resources Specification (A7) for Event Pointer"

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2115/-/wikis/eap

tags:
  - name: "M01: Authentication and Individual Profile"
  - name: "M02: Event Management"
  - name: "M03: Event Participation and Ownership"
  - name: "M04: Announcements and Comments"
  - name: "M05: User Administration and Static pages"

paths:
  /login:
    get:
      operationId: R101
      summary: "R101: Login Form"
      description: "Provide login form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: "Ok. Show Log-in UI"
    post:
      operationId: R102
      summary: "R102: Login Action"
      description: "Processes the login form submission. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: # <!--- form field name
                  type: string
                password: # <!--- form field name
                  type: string
              required:
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the login credentials."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication. Redirect to user profile."
                  value: "/users/{id}"
                302Error:
                  description: "Failed authentication. Redirect to login form."
                  value: "/login"

  /logout:
    post:
      operationId: R103
      summary: "R103: Logout Action"
      description: "Logout the current authenticated user. Access: USR, ADM"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "302":
          description: "Redirect after processing logout."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful logout. Redirect to login form."
                  value: "/login"

  /register:
    get:
      operationId: R104
      summary: "R104: Register Form"
      description: "Provide new user registration form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: "Ok. Show Sign-Up UI"

    post:
      operationId: R105
      summary: "R105: Register Action"
      description: "Processes the new user registration form submission. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the new user information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication. Redirect to user profile."
                  value: "/users/{id}"
                302Failure:
                  description: "Failed authentication. Redirect to login form."
                  value: "/login"

  /user/{user_id}:
    get:
      operationId: R106
      summary: "R106: View user profile"
      description: "Show the individual user profile. Access: USR"
      tags:
        - "M01: Authentication and Individual Profile"

      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show User Profile UI"

  /user/{user_id}/edit:
    get:
      operationId: R107
      summary: "R107: Edit User Profile"
      description: "Provide new form to edit user profile. Access: OWN,ADM"
      tags:
        - "M01: Authentication and Individual Profile"

      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show User Profile UI"

    put:
      operationId: R108
      summary: "R108: Edit Profile Action"
      description: "Processes the profile edition form submission. Access: OWN,ADM"
      tags:
        - "M01: Authentication and Individual Profile"
        
      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the edited profile info submited."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Profile successfully edited. Redirect to user page."
                  value: "/user/{id}"
                302Error:
                  description: "Failed to edit profile. Redirect to profile edition form."
                  value: "/user/{id}/edit"

  /home:
    get:
      operationId: R201
      summary: "R201: View Home"
      description: "Show home page. Access: PUB"
      tags:
        - "M02: Event Management"

      responses:
        "200":
          description: "Ok. Show Home Page UI"

  /event/{event_id}:
    get:
      operationId: R202
      summary: "R202: View event"
      description: "Shows the event information. Access: PUB"
      tags:
        - "M02: Event Management"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Event Page UI"

  /api/events:
    get:
      operationId: R203
      summary: "R203: Search Events API"
      description: "Searches for events and returns the results as JSON. Access: USR."

      tags:
        - "M02: Event Management"

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: name
          description: Name of the event
          schema:
            type: string
          required: false
        - in: query
          name: date
          description: Start date of the event
          schema:
            type: string
            format: date
          required: false

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    obs:
                      type: string
                    year:
                      type: string
                    owner:
                      type: string
                    type:
                      type: string
                example:
                  - name: Red Week
                    startDate: 01.01.2022
                    endDate: 08.01.2022
                    place: Purple Forest
                    duration: 7
                    isPrivate: false

  /user/{user_id}/create_event:
    get:
      operationId: R204
      summary: "R204: Event Creation Form"
      description: "Provide new form to create an event. Access: USR"
      tags:
        - "M02: Event Management"

      parameters:
        - in: query
          name: name
          description: Name of the event
          schema:
            type: string
          required: true
        - in: query
          name: start-date
          description: Start date of the event
          schema:
            type: string
            format: date
          required: true
        - in: query
          name: end-date
          description: End date of the event
          schema:
            type: string
            format: date
          required: true
        - in: query
          name: place
          description: Where the event is taken place
          schema:
            type: string
          required: true
        - in: query
          name: duration
          description: Duration of the event
          schema:
            type: integer
          required: true
        - in: query
          name: isPrivate
          description: If the event is private or not
          schema:
            type: boolean
          required: true
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Event Creation Form UI"

    post:
      operationId: R205
      summary: "R205: Event Creation Action"
      description: "Processes the event creation form submission. Access: USR"
      tags:
        - "M02: Event Management"
        
      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                start-date:
                  type: string
                  format: date
                end-date:
                  type: string
                  format: date
                place:
                  type: string
                duration:
                  type: integer
                isPrivate:
                  type: boolean
              required:
                - name
                - start-date
                - end-date
                - place
                - duration
                - isPrivate

      responses:
        "302":
          description: "Redirect after processing the event info submited."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Event successfully created. Redirect to event page."
                  value: "/event/{id}"
                302Error:
                  description: "Failed to create the event. Redirect to event form."
                  value: "/users/{id}/create"

  /event/{event_id}/edit:
    get:
      operationId: R206
      summary: "R206: Edit Event Form"
      description: "Provide new form to edit an event. Access: OWN"
      tags:
        - "M02: Event Management"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Event Form UI"

    put:
      operationId: R207
      summary: "R207: Edit Event Action"
      description: "Processes the event edition form submission. Access: OWN"
      tags:
        - "M02: Event Management"
        
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                start-date:
                  type: string
                  format: date
                end-date:
                  type: string
                  format: date
                place:
                  type: string
                duration:
                  type: integer
                isPrivate:
                  type: boolean
              required:
                - name
                - start-date
                - end-date
                - place
                - duration
                - isPrivate

      responses:
        "302":
          description: "Redirect after processing the event info submited."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Event successfully edited. Redirect to event page."
                  value: "/event/{id}"
                302Error:
                  description: "Failed to edit the event. Redirect to event edition form."
                  value: "/event/{id}/edit"

  /event/{event_id}/delete:
    delete:
      operationId: R208
      summary: "R208: Delete Event"
      description: "Delete an event. Access: OWN,ADM"
      tags:
        - "M02: Event Management"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Event successfully deleted"
        "400":
          description: "Error: Error message via HTTP header"
        "404":
          description: "Error: No event found"

  /event/{event_id}/invite:
    get:
      operationId: R209
      summary: "R209: Invite to Event Form"
      description: "Form used to invite user to event. Access: OWN"
      tags:
        - "M02: Event Management"

      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show Invite Form UI"

    post:
      operationId: R210
      summary: "R210: Invite to Event Action"
      description: "Invite user to event. Access: OWN"
      tags:
        - "M02: Event Management"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      responses:
        "302":
          description: "Invite sent."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "User invited. Redirect to event page."
                  value: "/event/{id}"
                302Failure:
                  description: "Invite Failed. Redirect to invite page."
                  value: "/event/{id}/invite"

  /user/{user_id}/invite/{invite_id}:
    get:
      operationId: R211
      summary: "R211: Invitation to Event Form"
      description: "Event invitation form. Access: USR"
      tags:
        - "M02: Event Management"

      parameters:
        - in: path
          name: user_id
          schema:
            type: boolean
          required: true
        - in: path
          name: invite_id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show Invitation Form UI"

    post:
      operationId: R212
      summary: "R212: Invitation to Event Action"
      description: "Invitation to event. Access: USR"
      tags:
        - "M02: Event Management"
        
      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true
        - in: path
          name: invite_id
          schema:
            type: integer
          required: true

      responses:
        "302":
          description: "Invite answered."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Invite answered. Redirect to event page."
                  value: "/event/{id}"
                302Failure:
                  description: "Answer Failed. Redirect to invitation page."
                  value: "/user/{id}/invite/{id}"

  /event/{event_id}/participants:
    get:
      operationId: R213
      summary: "R213: Event Participants"
      description: "Show event participants. Access: OWN,ADM"
      tags:
        - "M02: Event Management"
        
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        
      responses:
        "200":
          description: "Ok. Show Invitation Form UI"

  /event/{event_id}/participants/remove:
    delete:
      operationId: R214
      summary: "R214: Remove Participant from Event"
      description: "Remove participant from an event. Access: OWN"
      tags:
        - "M02: Event Management"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Participant successfully removed"
        "400":
          description: "Error: Error message via HTTP header"
        "404":
          description: "Error: No event found"

  /user/{user_id}/my_events:
    get:
      operationId: R301
      summary: "R301: View My Events"
      description: "Show events created by the user. Access: OWN"
      tags:
        - "M03: Event Participation and Ownership"

      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show User Events UI"

  /user/{user_id}/my_participations:
    get:
      operationId: R302
      summary: "R302: View My Participations"
      description: "Show user participations. Access: OWN"
      tags:
        - "M03: Event Participation and Ownership"

      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show User Participations UI"

  /event/{event_id}/announcement/{announcement_id}:
    get:
      operationId: R401
      summary: "R401: View Announcement"
      description: "Shows the announcement information. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: announcement_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Announcement Page UI"

  /event/{event_id}/create_announcement:
    get:
      operationId: R402
      summary: "R402: Create Event Announcement Form"
      description: "Provide new form to create an event announcement. Access: OWN"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: query
          name: announcement_title
          description: Announcement Title
          schema:
            type: string
          required: true
        - in: query
          name: announcement_description
          description: Announcement Description
          schema:
            type: string
          required: true
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Announcement Creation Form UI"

    post:
      operationId: R403
      summary: "R403: Event Announcement Action"
      description: "Processes the event announcement form submission. Access: OWN"
      tags:
        - "M04: Announcements and Comments"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                announcement_title:
                  type: string
                announcement_description:
                  type: string
              required:
                - announcement_title
                - announcement_description

      responses:
        "302":
          description: "Redirect after processing the announcement info submited."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Announcement successfully posted. Redirect to announcement page."
                  value: "/event/{id}/announcement/{id}"
                302Error:
                  description: "Failed to post the announcement. Redirect to announcement form."
                  value: "/event/{id}/create_announcement"

  /event/{event_id}/announcement/{announcement_id}/edit:
    get:
      operationId: R404
      summary: "R404: Edit Announcement Form"
      description: "Provide new form to edit an announcement. Access: OWN"
      tags:
        - "M04: Announcements and Comments"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: announcement_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Announcement Form UI"

    put:
      operationId: R405
      summary: "R405: Edit Announcement Action"
      description: "Processes the announcement edition form submission. Access: OWN"
      tags:
        - "M04: Announcements and Comments"
        
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: announcement_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                announcement_title:
                  type: string
                announcement_description:
                  type: string
              required:
                - announcement_title
                - announcement_description

      responses:
        "302":
          description: "Redirect after editing the announcement."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Announcement successfully edited. Redirect to announcement page."
                  value: "/event/{id}/announcement/{id}"
                302Error:
                  description: "Failed to edit the announcement. Redirect to announcement edition form."
                  value: "/event/{id}/announcement/{id}/edit"

  /event/{event_id}/announcement/{announcement_id}/delete:
    delete:
      operationId: R406
      summary: "R406: Delete Announcement"
      description: "Delete an Announcement. Access: OWN,ADM"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: announcement_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Announcement successfully deleted"
        "400":
          description: "Error: Error message via HTTP header"
        "404":
          description: "Error: No announcement found"

  /event/{event_id}/comment/{comment_id}:
    get:
      operationId: R407
      summary: "R407: View Comment"
      description: "Shows the comment information. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: comment_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Comment Page UI"

  /event/{event_id}/create_comment:
    get:
      operationId: R408
      summary: "R408: Create Event Comment Form"
      description: "Provide new form to create an event comment. Access: OWN"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: query
          name: comment_description
          description: Comment Description
          schema:
            type: string
          required: true

      responses:
        "200":
          description: "Ok. Show Comment Creation Form UI"

    post:
      operationId: R409
      summary: "R409 Event Comment Action"
      description: "Processes the event comment form submission. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                comment_description:
                  type: string
              required:
                - comment_description

      responses:
        "302":
          description: "Redirect after processing the comment info submited."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Comment successfully posted. Redirect to comment page."
                  value: "/event/{id}/comment/{id}"
                302Error:
                  description: "Failed to post the comment. Redirect to comment form."
                  value: "/event/{id}/create_comment"

  /event/{event_id}/comment/{comment_id}/edit:
    get:
      operationId: R410
      summary: "R410: Edit Comment Form"
      description: "Provide new form to edit an comment. Access: OWN"
      tags:
        - "M04: Announcements and Comments"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: comment_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Comment Form UI"

    put:
      operationId: R411
      summary: "R411: Edit Comment Action"
      description: "Processes the comment edition form submission. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"
        
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: comment_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                comment_description:
                  type: string
              required:
                - comment_description

      responses:
        "302":
          description: "Redirect after editing the comment."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Comment successfully edited. Redirect to comment page."
                  value: "/event/{id}/comment/{id}"
                302Error:
                  description: "Failed to edit the comment. Redirect to comment edition form."
                  value: "/event/{id}/comment/{id}/edit"

  /event/{event_id}/comment/{comment_id}/delete:
    delete:
      operationId: R412
      summary: "R412: Delete Comment"
      description: "Delete a comment. Access: OWN,ADM,PRT"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: comment_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Comment successfully deleted"
        "400":
          description: "Error: Error message via HTTP header"
        "404":
          description: "Error: No comment found"

  /event/{event_id}/poll/{poll_id}:
    get:
      operationId: R413
      summary: "R413: View Poll"
      description: "Shows the poll information. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: poll_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Poll Page UI"

  /event/{event_id}/create_poll:
    get:
      operationId: R414
      summary: "R414: Create Event Poll Form"
      description: "Provide new form to create an event poll. Access: OWN"
      tags:
        - "M04: Announcements and Comments"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: query
          name: poll_title
          description: Poll Title
          schema:
            type: string
          required: true
        - in: query
          name: poll_description
          description: Poll Description
          schema:
            type: string
          required: true

      responses:
        "200":
          description: "Ok. Show Poll Creation Form UI"

    post:
      operationId: R415
      summary: "R415: Event Poll Action"
      description: "Processes the event poll form submission. Access: OWN"
      tags:
        - "M04: Announcements and Comments"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                poll_title:
                  type: string
                poll_description:
                  type: string
              required:
                - poll_title
                - poll_description

      responses:
        "302":
          description: "Redirect after processing the poll info submited."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Poll successfully posted. Redirect to poll page."
                  value: "/event/{id}/poll/{id}"
                302Error:
                  description: "Failed to post the poll. Redirect to poll form."
                  value: "/event/{id}/create_poll"

  /event/{event_id}/poll/{poll_id}/edit:
    get:
      operationId: R416
      summary: "R416: Edit Poll Form"
      description: "Provide new form to edit a poll. Access: OWN"
      tags:
        - "M04: Announcements and Comments"
        
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: poll_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Poll Form UI"

    put:
      operationId: R417
      summary: "R417: Edit Poll Action"
      description: "Processes the poll edition form submission. Access: OWN"
      tags:
        - "M04: Announcements and Comments"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: poll_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                poll_title:
                  type: string
                poll_description:
                  type: string
              required:
                - poll_title
                - poll_description

      responses:
        "302":
          description: "Redirect after editing the poll."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Poll successfully edited. Redirect to poll page."
                  value: "/event/{id}/poll/{id}"
                302Error:
                  description: "Failed to edit the poll. Redirect to poll edition form."
                  value: "/event/{id}/poll/{id}/edit"

  /event/{event_id}/poll/{poll_id}/delete:
    delete:
      operationId: R418
      summary: "R418: Delete Poll"
      description: "Delete an Poll. Access: OWN,ADM"
      tags:
        - "M04: Announcements and Comments"
        
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: poll_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Poll successfully deleted"
        "400":
          description: "Error: Error message via HTTP header"
        "404":
          description: "Error: No poll found"

  /event/{event_id}/announcement/{announcement_id}/vote:
    get:
      operationId: R419
      summary: "R419: Vote in Announcement Form"
      description: "Add Vote to an Announcement Form. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"
      
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: announcement_id
          schema:
            type: integer
          required: true
        - in: query
          name: vote
          description: Vote type
          schema:
            type: boolean
          required: true

      responses:
        "200":
          description: "Ok. Show Vote Creation Form UI"

    post:
      operationId: R420
      summary: "R420 Event Vote Action"
      description: "Processes the vote form submission. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"
        
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: announcement_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vote:
                  type: boolean
              required:
                - vote

      responses:
        "302":
          description: "Redirect after processing the vote info submited."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Vote successfully added. Redirect to comment page."
                  value: "/event/{id}/comment/{id}"
                302Error:
                  description: "Failed to vote. Redirect to vote form."
                  value: "  /event/{id}/announcement/{id}/vote"

  /event/{event_id}/announcement/{announcement_id}/vote/{vote_id}/remove:
    delete:
      operationId: R421
      summary: "R421: Remove Vote in Announcement"
      description: "Remove a comment. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: announcement_id
          schema:
            type: integer
          required: true
        - in: path
          name: vote_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Vote successfully removed"
        "400":
          description: "Error: Error message via HTTP header"
        "404":
          description: "Error: No vote found"

  /event/{event_id}/comment/{comment_id}/vote:
    get:
      operationId: R422
      summary: "R422: Vote in Comment Form"
      description: "Add Vote to an Comment Form. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: comment_id
          schema:
            type: integer
          required: true
        - in: query
          name: vote
          description: Vote type
          schema:
            type: boolean
          required: true

      responses:
        "200":
          description: "Ok. Show Vote Creation Form UI"

    post:
      operationId: R423
      summary: "R423 Event Vote Action"
      description: "Processes the vote form submission. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"
        
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: comment_id
          schema:
            type: integer
          required: true
        - in: query
          name: vote
          description: Vote type
          schema:
            type: boolean
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vote:
                  type: boolean
              required:
                - vote

      responses:
        "302":
          description: "Redirect after processing the vote info submited."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Vote successfully added. Redirect to comment page."
                  value: "/event/{id}/comment/{id}"
                302Error:
                  description: "Failed to vote. Redirect to vote form."
                  value: "  /event/{id}/comment/{id}/vote"

  /event/{event_id}/comment/{comment_id}/vote/{vote_id}/remove:
    delete:
      operationId: R424
      summary: "R424: Remove Vote in Comment"
      description: "Remove a comment. Access: OWN,PRT"
      tags:
        - "M04: Announcements and Comments"

      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
        - in: path
          name: comment_id
          schema:
            type: integer
          required: true
        - in: path
          name: vote_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Vote successfully removed"
        "400":
          description: "Error: Error message via HTTP header"
        "404":
          description: "Error: No vote found"


  /contacts:
    get:
      operationId: R501
      summary: "R501: View Contacts"
      description: "Show contacts page. Access: PUB"
      tags:
        - "M05: User Administration and Static pages"

      responses:
        "200":
          description: "Ok. Show Contacts Page UI"

  /about:
    get:
      operationId: R502
      summary: "R502: View About"
      description: "Show about page. Access: PUB"
      tags:
        - "M05: User Administration and Static pages"

      responses:
        "200":
          description: "Ok. Show about Page UI"

  /services:
    get:
      operationId: R503
      summary: "R503: View Services"
      description: "Show services page. Access: PUB"
      tags:
        - "M05: User Administration and Static pages"

      responses:
        "200":
          description: "Ok. Show Services Page UI"

  /faqs:
    get:
      operationId: R504
      summary: "R504: View FAQS"
      description: "Show FAQS page. Access: PUB"
      tags:
        - "M05: User Administration and Static pages"

      responses:
        "200":
          description: "Ok. Show FAQS Page UI"

  /api/users:
    get:
      operationId: R505
      summary: "R505: Search Users API"
      description: "Searches for users and returns the results as JSON. Access: USR,ADM."

      tags:
        - "M05: User Administration and Static pages"

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: name
          description: Name of the user
          schema:
            type: string
          required: false
        - in: query
          name: email
          description: Email of the user
          schema:
            type: string
          required: false

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    obs:
                      type: string
                    year:
                      type: string
                    owner:
                      type: string
                    type:
                      type: string
                example:
                  - email: black.knigth@gmail.com
                    username: Black Knigth
                    profilePicture:
                    admin: false

  /admin/user/{user_id}/delete:
    delete:
      operationId: R506
      summary: "R506: Delete User"
      description: "Delete an user. Access: ADM"
      tags:
        - "M05: User Administration and Static pages"

      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "User successfully deleted"
        "400":
          description: "Error: Error message via HTTP header"
        "404":
          description: "Error: No user found"

  /admin/report/{report_id}:
    get:
      operationId: R507
      summary: "R507: View Report"
      description: "Shows the report information. Access: ADM"
      tags:
        - "M05: User Administration and Static pages"

      parameters:
        - in: path
          name: report_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Report Page UI"


  /admin/create_report:
    get:
      operationId: R508
      summary: "R508: Create Report Form"
      description: "Provide new form to create a report. Access: ADM"
      tags:
        - "M05: User Administration and Static pages"

      parameters:
        - in: query
          name: report_title
          description: Report Title
          schema:
            type: string
          required: true
        - in: query
          name: report_description
          description: Report Description
          schema:
            type: string
          required: true

      responses:
        "200":
          description: "Ok. Show Report Creation Form UI"

    post:
      operationId: R509
      summary: "R509: Report Action"
      description: "Processes the report form submission. Access: ADM"
      tags:
        - "M05: User Administration and Static pages"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                report_title:
                  type: string
                report_description:
                  type: string
              required:
                - report_title
                - report_description

      responses:
        "302":
          description: "Redirect after processing the report info submited."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Report successfully created. Redirect to report page."
                  value: "/admin/{id}/report/{id}"
                302Error:
                  description: "Failed to created the report. Redirect to report form."
                  value: "/admin/{id}/create_report"

  /admin/{admin_id}/report/{report_id}/delete:
    delete:
      operationId: R510
      summary: "R510: Delete Report"
      description: "Delete a Report. Access: ADM"
      tags:
        - "M05: User Administration and Static pages"

      parameters:
        - in: path
          name: admin_id
          schema:
            type: integer
          required: true
        - in: path
          name: report_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Report successfully deleted"
        "400":
          description: "Error: Error message via HTTP header"
        "404":
          description: "Error: No report found"